/* CountryCard.css */

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 16px;
  width: 300px;
  background-color: #fff;
  transition: transform 0.2s ease-in-out;
  text-align: center;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 12px;
}

.card h2 {
  font-size: 1.5rem;
  margin-bottom: 8px;
  border-bottom-style: groove;
}
.card h4 {
  margin: 10px;
}
.card p {
  margin-bottom: 4px;
}

.card p:first-child {
  font-weight: bold;
}

.card p:last-child {
  margin-bottom: 0;
}

.search-input {
  margin-bottom: 16px;
}

input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

input:focus {
  outline: none;
  border-color: #007bff; /* Change the border color on focus to a desired color */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add a subtle box shadow on focus */
}
