.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
}

.search-input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.search-input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.filter-options-container {
  margin: 20px;
}

.filter-label {
  margin-right: 10px;
}

.filter-select {
  padding: 8px;
  font-size: 14px;
}

.filter-select {
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease-in-out;
}

.filter-select:hover,
.filter-select:focus {
  border-color: #007bff;
  outline: none;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  justify-content: center;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 16px;
  width: 300px;
  background-color: #fff;
  transition: transform 0.2s ease-in-out;
  text-align: center;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 12px;
}

.card h2 {
  font-size: 1.5rem;
  margin-bottom: 8px;
  border-bottom-style: groove;
}
.card h4 {
  margin: 10px;
}
.card p {
  margin-bottom: 4px;
}

.card p:first-child {
  font-weight: bold;
}

.card p:last-child {
  margin-bottom: 0;
}
